{% extends 'web_generic_features/profile/public_profile/public_profile_details.html' %}

{% block profile_content %}
    {% if profile_nfts_and_nft_quantity %}
        <div class="container-fluid">
            <div class="row p-3">
                {% for nft, nft_quantity in profile_nfts_and_nft_quantity %}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2">
                        <div class="card" style="box-shadow: 0 1px 10px #a3a3a3; border-radius: 10px">
                            <img class="custom-img-height-collection" style="border-radius: 10px 10px 0 0;"
                                 alt="100%x280"
                                 src="{{ nft.image.url }}">
                            <div class="card-body text-center">
                                <h4 class="text-warning mt-2"> {{ nft.title|truncatechars:22 }}
                                    <span title="Owned quantity" class="text-secondary">&nbsp x{{ nft_quantity }}</span>
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="text-center" style="margin-top: 80px">
                <h1>No NFTs collected yet</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}