{% extends 'web_generic_features/base.html' %}
{% load static %}

{% block content %}
    <section style="margin: 80px 0 50px 0">
        <div class="container text-center">
            <div>
                {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}"
                         style="border-radius: 50%; object-fit: cover; height: 180px; width: 180px;
                         box-shadow: 0 1px 10px #666666"
                         alt="profile-image">
                {% else %}
                    <img src="{% static 'images/default_profile_pic.png' %}"
                         style="border: 2px; border-radius: 50%; object-fit: cover; height: 180px; width: 180px;
                         box-shadow: 0 1px 10px #666666"
                         alt="profile-image">
                {% endif %}
            </div>
            <div class="my-4">
                <div>
                    <h1>{{ profile.username }}</h1>
                </div>
                <div>
                    <h5 class="text-secondary">Joined {{ request.user.date_joined|date:'F Y'}}</h5>
                </div>

                <div class="mt-5">
                    <button type="button" class="btn btn-lg mx-2" style="border-bottom: 5px solid #F2B851;">
                        <a class="text-dark text-decoration-none"
                           href="{% url 'personal profile collection' request.user.id %}">
                            <span>
                                <i class="bi bi-folder-check"></i>
                                Collected
                            </span>
                        </a>
                    </button>

                    <button type="button" class="btn btn-lg mx-2" style="border-bottom: 5px solid #F2B851;">
                        <a class="text-dark text-decoration-none"
                           href="{% url 'personal profile workshop' request.user.pk %}">
                            <span>
                                <i class="bi bi-brush"></i>
                                Created
                            </span>
                        </a>
                    </button>

                    <button type="button" class="btn btn-lg mx-2" style="border-bottom: 5px solid #F2B851;">
                        <a class="text-dark text-decoration-none"
                           href="{% url 'personal favorites' request.user.pk %}">
                            <span>
                                <i class="bi bi-bookmark-heart"></i>
                                Favorite
                            </span>
                        </a>
                    </button>

                    <button type="button" class="btn btn-lg mx-2" data-bs-toggle="modal"
                            data-bs-target="#create-collection-modal" style="border-bottom: 5px solid #F2B851">
                        <a class="text-dark text-decoration-none"
                           href="{% url 'create collection' %}">
                            <span>
                                <i class="bi bi-folder-plus"></i>
                                Add Collection
                            </span>
                        </a>
                    </button>

                    {% if nft_add_button_active %}
                        <button type="button" class="btn btn-lg mx-2" style="border-bottom: 5px solid #F2B851;">
                            <a class="text-dark text-decoration-none"
                               href="{% url 'create nft' %}">
                            <span>
                                <i class="bi bi-file-earmark-plus"></i>
                                Add NFT
                            </span>
                            </a>
                        </button>
                    {% else %}
                        <button title="Add a collection first" type="button" class="btn btn-lg mx-2" style="border-bottom: 5px solid #6f6f6f;">
                            <a class="text-dark text-decoration-none">
                            <span>
                                <i class="bi bi-file-earmark-plus"></i>
                                Add NFT
                            </span>
                            </a>
                        </button>
                    {% endif %}

                    <button type="button" class="btn btn-lg mx-2" style="border-bottom: 5px solid #F2B851;">
                        <a class="text-dark text-decoration-none"
                           href="{% url 'edit profile' request.user.pk %}">
                            <span>
                                <i class="bi bi-pencil-square"></i>
                                Edit Profile
                            </span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section class="custom-bg-shadow custom-section-home" style="min-height: 350px">
        {% block profile_content %}
        {% endblock %}
    </section>

{% endblock %}