{% extends 'web_generic_features/profile/personal_profile/personal_profile_details.html' %}

{% block profile_content %}
    {% if collections %}
        <div class="container-fluid">
            <div class="row p-3">
                {% for collection in collections %}
                    {% if collection.posted_for_sale %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2">
                            <div class="card" style="box-shadow: 0 1px 10px #a3a3a3; border-radius: 10px">
                                <img class="custom-img-height-marketplace"
                                     style="border-radius: 10px 10px 0 0;"
                                     alt="100%x280"
                                     src="{{ collection.image.url }}">
                                <div class="card-body text-center">
                                    <h4 class="text-warning mt-2">
                                        <a class="text-decoration-none custom-link-desert"
                                           href="{% url 'collection details' collection.pk %}">
                                            {{ collection.title|truncatechars:22 }}
                                        </a>
                                    </h4>
                                    <p class="mb-2 text-secondary">
                                        by <span class="text-warning">{{ profile.username }}</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="text-center my-2">
                                        <p class="card-text text-secondary">{{ collection.description|truncatechars:30 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2">
                            <div class="card" style="box-shadow: 0 1px 10px #a3a3a3; border-radius: 10px">
                                <img class="custom-img-height-marketplace"
                                     style="border-radius: 10px 10px 0 0;"
                                     alt="100%x280"
                                     src="{{ collection.image.url }}">
                                <div class="card-body text-center">
                                    <h4 class="text-warning mt-2">
                                        <a class="custom-link-desert text-decoration-none"
                                           href="{% url 'workshop collection' collection.pk %}">
                                            {{ collection.title|truncatechars:22 }}
                                        </a>
                                    </h4>
                                    <p class="mb-2 text-secondary">by
                                        <span class="text-warning">{{ profile.username }}</span>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="row my-1">
                                        {% if collection.nft_set.all %}
                                            <div class="col-8 text-start">
                                                <button class="btn btn-sm custom-btn-desert text-light"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#post-on-market-modal">
                                                    Post on Market
                                                </button>

                                                <div class="modal fade" id="post-on-market-modal" tabindex="-1"
                                                     aria-labelledby="modal-title" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="modal-title">
                                                                    Post this Collection on the Market?
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal" aria-label="Close">
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p class="text-start">
                                                                    Are you sure you want to post this collection?
                                                                    Once the collection is live on the marketplace you
                                                                    will not be able to make any further changes to it
                                                                    and you will not be able to remove it.
                                                                </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button class="btn text-light custom-btn-desert">
                                                                    <a class="text-decoration-none text-light"
                                                                       href="{% url 'mint collection' collection.pk %}">
                                                                        Post
                                                                    </a>
                                                                </button>
                                                                <button class="btn btn-secondary"
                                                                        style="border-radius: 10px"
                                                                        data-bs-dismiss="modal">
                                                                    Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col-8 text-start">
                                                <button class="btn btn-sm btn-secondary text-light"
                                                        style="border-radius: 10px"
                                                        title="Add an NFT in Order to Sell Collection">
                                                    Post On Market
                                                </button>
                                            </div>
                                        {% endif %}
                                        <div class="col-4 text-end">
                                            <button class="btn btn-sm text-light"
                                                    style="border-radius: 10px; background-color: rgb(255,64,64)"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#remove-modal">
                                                Remove
                                            </button>

                                            <div class="modal fade" id="remove-modal" tabindex="-1"
                                                 aria-labelledby="modal-title" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modal-title">
                                                                Remove Collection?
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p class="text-start">
                                                                Are you sure you want to remove this collection and
                                                                all of its content? This process is irreversible.
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn text-light"
                                                                    style="border-radius: 10px;
                                                                    background-color: rgb(255,64,64)">
                                                                <a class="text-decoration-none text-light"
                                                                   href="{% url 'remove collection' collection.pk %}">
                                                                    Remove
                                                                </a>
                                                            </button>
                                                            <button class="btn btn-secondary"
                                                                    style="border-radius: 10px"
                                                                    data-bs-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <div class="text-center" style="margin-top: 80px">
                <h1>No collections added yet</h1>
            </div>
        </div>
    {% endif %}
{% endblock %}