{% extends 'web_generic_features/base.html' %}
{% load static %}

{% block content %}
    <section class="text-center pt-0 custom-section-home">
        <div style="margin-bottom: 50px">
            {% if collection.cover_image %}
                <img width="100%"
                     height="350px"
                     style="object-fit: cover" src="{{ collection.cover_image.url }}"
                     alt="cover-img">
            {% else %}
                <img width="100%"
                     height="350px"
                     style="object-fit: cover" src="{% static 'images/default_cover_pic.png' %}"
                     alt="cover-img">
            {% endif %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ collection.title }}</h1>
                    <h5 class="mb-4 text-secondary"> Created by
                        <span style="color: #F2B851;">{{ collection.user.profile.username }}</span>
                    </h5>
                </div>

                <div class="col-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <hr>
                </div>
                <div class="col-1 col-md-2 col-lg-3"></div>

                <div class="col-12 my-3">
                    <h2>
                        <i class="bi bi-images"></i>
                        <span>NFTs: {{ total_nfts_count }}</span>
                    </h2>
                </div>

                <div class="col-1 col-md-2 col-lg-3"></div>
                <div class="col-10 col-md-8 col-lg-6">
                    <hr>
                </div>
                <div class="col-1 col-md-2 col-lg-3"></div>

                <div class="col-1 col-md-2 col-lg-3"></div>
                <div class="col text-center mt-3">
                    <p>{{ collection.description }}</p>
                </div>
                <div class="col-1 col-md-2 col-lg-3"></div>
            </div>
        </div>
    </section>

    <section class="custom-section-home custom-bg-shadow" style="min-height: 350px">
        {% if total_nfts %}
            <div class="container-fluid">
                <div class="row p-3">
                    {% for nft in total_nfts %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2">
                            <div class="card" style="box-shadow: 0 1px 10px #a3a3a3; border-radius: 10px">
                                <img class="custom-img-height-collection" style="border-radius: 10px 10px 0 0;"
                                     alt="100%x280"
                                     src="{{ nft.image.url }}">
                                <div class="card-body text-center">
                                    <h4 class="mt-2" style="color: #F2B851">
                                        {{ nft.title|truncatechars:22 }}
                                    </h4>
                                </div>
                                <div class="card-footer">
                                    <div class="row align-items-center">
                                        <div class="col-6">
                                            <p class="m-0">Blockchain: {{ nft.blockchain }}</p>
                                            <p class="m-0">Quantity: {{ nft.quantity }}</p>
                                            <p class="m-0">Price: {{ nft.price }}</p>
                                        </div>
                                        <div class="col-6 text-end">
                                            <button class="btn text-light"
                                                    style="border-radius: 10px; background-color: rgb(255,64,64)">
                                                <a class="text-decoration-none text-light" href="{% url 'remove nft' nft.pk %}">Remove</a>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="container" style="min-height: 215px">
                <div class="text-center" style="margin-top: 80px">
                    <h1>No NFTs added yet</h1>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}

