{% extends 'web_generic_features/profile/public/public_profile_details.html' %}

{% block profile_content %}
    <section class="shadow-background">
        {% if nft_and_quantity_pair %}
            <div class="container-fluid">
                <div class="row p-3">
                    {% for nft, nft_quantity in nft_and_quantity_pair %}
                        <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2">
                            <div class="card" style="box-shadow: 0 1px 10px #a3a3a3; border-radius: 10px">
                                <img class="nft-image" alt="{{ nft.title }}" src="{{ nft.image.url }}">
                                <div class="card-body text-center">
                                    <h4 class="mt-2">
                                        <a class="link-desert" href="{% url 'collection details' nft.collection.pk %}">
                                            {{ nft.title|truncatechars:22 }}
                                            <span title="Owned quantity" class="text-secondary">&nbsp x{{ nft_quantity }}</span></a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="container panel-2">
                <div class="text-center" style="margin-top: 35px">
                    <h1>No NFTs collected yet</h1>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}