{% extends 'web_generic_features/profile/personal/personal_profile_details.html' %}

{% block profile_content %}
    <section class="panel-2 shadow-background">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4 box-form">
                    <div class="text-center mb-3 mb-sm-4">
                        <h2>Create Collection</h2>
                    </div>
                    <form method="post" action="{% url 'create collection' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <label for="title" class="form-label">Collection Title:</label>
                            {{ form.title }}
                        </div>
                        <div class="my-4">
                            <label for="image" class="form-label">Collection Image:</label>
                            {{ form.image }}
                            <div class="text-danger mt-2">{{ form.image.errors }}</div>
                        </div>
                        <div>
                            <label for="cover_image" class="form-label">Collection Cover Image:</label>
                            {{ form.cover_image }}
                            <div class="text-danger mt-2">{{ form.cover_image.errors }}</div>
                        </div>
                        <div class="my-4">
                            <label for="description" class="form-label">Collection Description:</label>
                            {{ form.description }}
                        </div>
                        <div class="my-4 text-center">
                            <button class="btn text-white btn-desert" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
