{% extends 'web_generic_features/profile/profile_details_base.html' %}
{% load static %}

{% block profile_buttons %}
    <section>
        <div class="container-fluid">
            <div class="dropdown text-center mt-5 d-lg-none">
                <a class="dropdown-toggle text-dark btn-profile-nav" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="{% url 'profile collection' request.user.pk %}">
                            <span>
                                <i class="bi bi-folder-check"></i>
                                Collected
                            </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'profile' request.user.pk %}">
                            <span>
                                <i class="bi bi-brush"></i>
                                Created
                            </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'profile favorite' request.user.pk %}">
                            <span>
                                <i class="bi bi-bookmark-heart"></i>
                                Favorite
                            </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'create collection' %}">
                            <span>
                                <i class="bi bi-folder-plus"></i>
                                Add Collection
                            </span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    {% if add_nft %}
                        <li>
                            <a class="dropdown-item" href="{% url 'create nft' %}">
                            <span>
                                <i class="bi bi-file-earmark-plus"></i>
                                Add NFT
                            </span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{% url 'edit profile' request.user.pk %}">
                            <span>
                                <i class="bi bi-pencil-square"></i>
                                Edit Profile
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="text-center d-none d-lg-block" style="margin-top: 80px">
                <a class="text-dark btn-profile-nav" href="{% url 'profile collection' request.user.pk %}">
                    <span>
                        <i class="bi bi-folder-check"></i>
                        Collected
                    </span>
                </a>
                <a class="text-dark btn-profile-nav" href="{% url 'profile' request.user.pk %}">
                    <span>
                        <i class="bi bi-brush"></i>
                        Created
                    </span>
                </a>
                <a class="text-dark btn-profile-nav" href="{% url 'profile favorite' request.user.pk %}">
                    <span>
                        <i class="bi bi-bookmark-heart"></i>
                        Favorite
                    </span>
                </a>
                <a class="text-dark btn-profile-nav" href="{% url 'create collection' %}">
                    <span>
                        <i class="bi bi-folder-plus"></i>
                        Add Collection
                    </span>
                </a>
                {% if add_nft %}
                    <a class="text-dark btn-profile-nav" href="{% url 'create nft' %}">
                        <span>
                            <i class="bi bi-file-earmark-plus"></i>
                            Add NFT
                        </span>
                    </a>
                {% else %}
                    <a class="text-dark btn-profile-nav" title="Add a collection first">
                        <span>
                            <i class="bi bi-file-earmark-plus"></i>
                            Add NFT
                        </span>
                    </a>
                {% endif %}
                <a class="text-dark btn-profile-nav" href="{% url 'edit profile' request.user.pk %}">
                        <span>
                            <i class="bi bi-pencil-square"></i>
                            Edit Profile
                        </span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}

{% block profile_content %}
{% endblock %}
