{% extends 'web_generic_features/profile/personal/personal_profile_details.html' %}

{% block profile_content %}
    <section class="shadow-background">
        {% if collections %}
            <div class="container-fluid">
                <div class="row p-3">
                    {% for collection in collections %}
                        {% if collection.posted_for_sale %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2">
                                <div class="card" style="box-shadow: 0 1px 10px #a3a3a3; border-radius: 10px">
                                    <img class="marketplace-image"
                                         style="border-radius: 10px 10px 0 0;"
                                         alt="100%x280"
                                         src="{{ collection.image.url }}">
                                    <div class="card-body text-center">
                                        <h4 class="mt-2">
                                            <a class="text-decoration-none custom-link-desert"
                                               href="{% url 'collection details' collection.pk %}">
                                                {{ collection.title|truncatechars:22 }}
                                            </a>
                                        </h4>
                                        <p class="mb-2 text-secondary">
                                            by <span style="color: #F2B851">{{ profile.username }}</span>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center my-2">
                                            <p class="card-text text-secondary">{{ collection.description|truncatechars:30 }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3 my-2">
                                <div class="card" style="box-shadow: 0 1px 10px #a3a3a3; border-radius: 10px">
                                    <img class="marketplace-image"
                                         style="border-radius: 10px 10px 0 0;"
                                         alt="100%x280"
                                         src="{{ collection.image.url }}">
                                    <div class="card-body text-center">
                                        <h4 class="mt-2">
                                            <a class="text-decoration-none custom-link-desert "
                                               href="{% url 'personal collection details' collection.pk %}">
                                                {{ collection.title|truncatechars:22 }}
                                            </a>
                                        </h4>
                                        <p class="mb-2 text-secondary">by
                                            <span style="color: #F2B851">{{ profile.username }}</span>
                                        </p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row my-1">
                                            {% if collection.nft_set.all|length_is:4 %}
                                                <div class="col-8 text-start">
                                                    <button class="btn btn-sm custom-btn-desert text-light">
                                                        <a class="text-decoration-none text-light"
                                                           href="{% url 'sell collection' collection.pk %}">Sell on
                                                            Market</a>
                                                    </button>
                                                </div>
                                            {% else %}
                                                <div class="col-8 text-start">
                                                    <button class="btn btn-sm btn-secondary text-light"
                                                            style="border-radius: 10px"
                                                            title="A Total of 4 NFT are Required in Order to Sell this Collection">
                                                        Sell On Market
                                                    </button>
                                                </div>
                                            {% endif %}
                                            <div class="col-4 text-end">
                                                <button class="btn btn-sm text-light"
                                                        style="border-radius: 10px; background-color: rgb(255,64,64)">
                                                    <a class="text-decoration-none text-light"
                                                       href="{% url 'remove collection' collection.pk %}">Remove</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="container panel-2">
                <div class="text-center" style="margin-top: 35px">
                    <h1>No collections added yet</h1>
                </div>
            </div>
        {% endif %}
    </section>
{% endblock %}