body {
    font-family: Poppins, sans-serif;
}

.brand-image {
    width: 44px;
    height: 45px;
}

.brand-name-home {
    padding-left: 18px;
    font-size: 21px;
    font-weight: bold;
    color: #262626;
}

.brand-name-base {
    padding-left: 18px;
    font-size: 21px;
    font-weight: bold;
    color: #262626;
}

@media (min-width: 360px) and (max-width: 767px) {
    .brand-name-home {
        padding-left: 8px;
    }

    .brand-name-base {
        padding-left: 8px;
    }
}

ul {
    font-size: 20px;
}

ul li {
    margin-top: 10px;
}

.search-bar {
    border-radius: 10px;
    margin-top: 4px;
    width: 800px;
    height: 45px;
}

.nav-icon {
    margin-top: 1px;
}

@media (min-width: 768px) and (max-width: 991px ) {
    .search-bar {
        width: 120px;
    }

    .nav-icon {
        margin-top: 3px;
    }

    .brand-name-base {
        padding-left: 8px;
    }
}

@media (min-width: 900px) and (max-width: 991px ) {
    .search-bar {
        width: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1999px ) {
    .search-bar {
        width: 350px;
    }

    .brand-name-home {
        padding-left: 16px;
    }

    .brand-name-base {
        padding-left: 11px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px ) {
    .search-bar {
        width: 500px;
    }
}

@media (min-width: 1600px) and (max-width: 2500px ) {
    .search-bar {
        width: 850px;
    }
}

.shadow-panel {
    background-color: #e7e7e7;
    box-shadow: 0 0 15px #a3a3a3
}

/* left off here */

.custom-section-home {
    padding: 50px 0 70px;
}

.custom-form-box {
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightgrey;
    box-shadow: 0 1px 10px #a3a3a3;
}

.custom-btn-desert {
    background-color: #F2B851;
    border-radius: 10px;
}

.custom-btn-desert:hover {
    background-color: #d2a046;
}

.custom-link-desert {
    text-decoration: none;
    color: #F2B851;
}

.custom-link-desert:hover {
    color: #d2a046;
}

.custom-like-link {
    text-decoration: none;
    color: #5f5f5f;
}

.custom-like-link:hover {
    color: #e43f3f;
}