{% extends 'web_generic_features/base.html' %}

{% block content %}
    <section>
        <div class="container panel-2 text-center text-md-start">
            <h1 class="text-center" style="font-size: 60px; font-weight: bold">Privacy Policy</h1>
        </div>
    </section>

    <section class="shadow-background" style="padding-top: 40px; padding-bottom: 100px">
        <div class="container px-5">
            <p class="mt-4 text-muted" style="font-size: 28px; margin-top: 100px">
                Last Updated: April 27, 2022
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad animi autem blanditiis
                consectetur
                consequuntur cupiditate distinctio dolores eaque earum et explicabo facere fuga harum in ipsum
                laborum
                magni
                mollitia, neque nesciunt quas quidem quod reiciendis similique sint suscipit ut vel, veritatis
                voluptatem
                voluptatibus! Accusamus aut consequuntur corporis dignissimos exercitationem, hic impedit nostrum,
                odio
                quae
                quasi quo sint sit voluptatum! Ab accusantium animi architecto asperiores aut cumque dicta eaque
                earum
                eius
                eligendi illum itaque laboriosam libero magni nostrum, obcaecati omnis praesentium quidem recusandae
                sapiente, sint voluptate voluptates. Commodi dolor et exercitationem illo nam neque possimus
                sapiente
                voluptates. Molestiae nulla, quam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
                laudantium mollitia, nam officiis possimus quas quis quo quod reprehenderit sed tempore totam vero
                vitae
                voluptate! Accusantium assumenda dignissimos dolorum enim facere suscipit tempora veritatis? Ab
                atque
                beatae, culpa maiores nam necessitatibus officiis provident quisquam sapiente sint velit, vero.
                Lorem
                ipsum
                dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis, fugiat in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae?

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto corporis cupiditate facilis,
                fugiat
                in
                laborum, laudantium magnam molestias quo quos rem tempore velit, vitae? Ab aperiam culpa, doloribus
                est
                expedita illum, inventore ipsam ipsum iste itaque minus quas reiciendis rem sint sit soluta, totam.
                Aliquid
                consequatur, culpa deserunt doloremque ea eius eligendi eos et exercitationem fugit hic id ipsa iste
                laborum
            </p>
        </div>
    </section>

    <section style="margin-bottom: 120px"></section>

{% endblock %}